/*----------------page-wrapper----------------*/
.page-wrapper {
  height: 100vh;
}
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
  background-size: cover;
}
.page-wrapper .theme.selected {
  border: 2px solid #00c7ff;
}
.page-wrapper .theme.default-theme {
  background: #1d1d1d;
}
.page-wrapper .theme.chiller-theme {
  background: #374140;
}
.page-wrapper .theme.legacy-theme {
  background: #2e333c;
}
.page-wrapper .theme.ice-theme {
  background: #3a4d56;
}
.page-wrapper .theme.cool-theme {
  background: #46454c;
}
.page-wrapper .theme.light-theme {
  background: #ececec;
}
.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  -webkit-transition: padding-left 0.3s ease;
  transition: padding-left 0.3s ease;
  overflow-x: hidden;
}
.page-wrapper .page-content .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: #000;
  opacity: 0.5;
  display: none;
}
.page-wrapper.toggled .sidebar-wrapper {
  right: 0px;
}
@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-right: 280px;
  }
}
@media screen and (max-width: 768px) {
  .page-wrapper.toggled .page-content .overlay {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .page-wrapper.toggled.pinned .page-content {
    padding-right: 80px;
  }
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
  width: 80px;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
  padding: 10px;
}
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-header
  .user-pic {
  margin: 0 auto;
  width: 50px;
  float: none;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
  margin: auto;
}

.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-search
  input,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-header
  .user-info,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-menu
  .header-menu,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-menu
  .sidebar-submenu,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-content
  .sidebar-menu
  ul
  > li
  > a
  > span,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-content
  .sidebar-menu
  ul
  .sidebar-dropdown.active,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-menu
  ul
  > li
  > a::after,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-content
  .search-results,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-footer
  > div {
  display: none !important;
}
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-search
  .input-group-text {
  height: 35px;
}
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-footer
  > div.pinned-footer {
  display: block;
}
.page-wrapper .mCSB_scrollTools {
  width: 6px;
}
.page-wrapper .mCSB_inside > .mCSB_container {
  margin-right: 0px;
}

.sidebar-wrapper {
  width: 280px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 999;
  -webkit-transition: left 0.3s ease, width 0.3s ease;
  transition: left 0.3s ease, width 0.3s ease;
}
.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-wrapper a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.sidebar-wrapper .sidebar-item {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.sidebar-wrapper .sidebar-content {
  max-height: calc(100% -35px);
  height: calc(100% - 35px);
  overflow-y: scroll;
  position: relative;
}
.sidebar-wrapper .sidebar-content.desktop {
  overflow-y: hidden;
}
.sidebar-wrapper .badge {
  border-radius: 4px;
}

.sidebar-bg .sidebar-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-bg .sidebar-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidebar-wrapper .sidebar-brand {
  padding: 1rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  background-color: #007afc;
}

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic {
  width: 60px;
  padding: 2px;
  margin-right: 15px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.sidebar-wrapper .sidebar-header .user-info {
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

.sidebar-wrapper .sidebar-search > div {
  padding: 1rem 1.2rem;
}

.sidebar-wrapper .sidebar-search input {
  border-radius: 0;
}

.sidebar-wrapper .sidebar-search .input-group {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.sidebar-wrapper .sidebar-search .input-group-append .input-group-text {
  border-radius: 0;
  border-left: 0;
}

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.sidebar-wrapper .sidebar-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
  width: 95%;
  margin: auto;
  border-radius: 4px;
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  -webkit-animation: swing ease-in-out 0.5s 1 alternate;
  animation: swing ease-in-out 0.5s 1 alternate;
}
.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.sidebar-wrapper .sidebar-menu ul li a .menu-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f060';
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  left: 15px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
  display: none;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  margin-left: auto;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: 15px;
}

.sidebar-wrapper .sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-wrapper .sidebar-footer > div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  height: 35px;
  line-height: 35px;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-wrapper .sidebar-footer > div > a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.sidebar-wrapper .sidebar-footer > div a .notification {
  position: absolute;
  top: 0;
}
.sidebar-wrapper .sidebar-footer > div.pinned-footer {
  display: none;
}
.sidebar-wrapper .sidebar-footer .dropdown-menu {
  bottom: 36px;
  left: 0 !important;
  top: initial !important;
  right: 0;
  -webkit-transform: none !important;
  transform: none !important;
  border-radius: 0;
  font-size: 0.9rem;
}
.sidebar-wrapper .sidebar-footer .messages .dropdown-item {
  padding: 0.25rem 1rem;
}
.sidebar-wrapper .sidebar-footer .messages .messages-header {
  padding: 0 1rem;
}
.sidebar-wrapper .sidebar-footer .messages .message-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-wrapper .sidebar-footer .messages .message-content .pic {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-footer .messages .message-content .pic img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
.sidebar-wrapper .sidebar-footer .messages .message-content .content {
  line-height: 1.6;
  padding-left: 5px;
  width: calc(100% - 40px);
}
.sidebar-wrapper
  .sidebar-footer
  .messages
  .message-content
  .content
  .message-title {
  font-size: 13px;
}
.sidebar-wrapper
  .sidebar-footer
  .messages
  .message-content
  .content
  .message-detail {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-footer .notifications .dropdown-item {
  padding: 0.25rem 1rem;
}
.sidebar-wrapper .sidebar-footer .notifications .notifications-header {
  padding: 0 1rem;
}
.sidebar-wrapper .sidebar-footer .notifications .notification-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-wrapper .sidebar-footer .notifications .notification-content .icon {
  width: 40px;
  height: 40px;
}
.sidebar-wrapper .sidebar-footer .notifications .notification-content .icon i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.sidebar-wrapper .sidebar-footer .notifications .notification-content .content {
  line-height: 1.6;
  padding-left: 5px;
  width: calc(100% - 40px);
}
.sidebar-wrapper
  .sidebar-footer
  .notifications
  .notification-content
  .content
  .notification-time {
  font-size: 0.7rem;
  color: #828282;
}
.sidebar-wrapper
  .sidebar-footer
  .notifications
  .notification-content
  .content
  .notification-detail {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-footer .badge-sonar {
  display: inline-block;
  background: #d86703;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}
.sidebar-wrapper .sidebar-footer .badge-sonar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #d86703;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: sonar 1.5s infinite;
  animation: sonar 1.5s infinite;
}
.boder-radius-on .sidebar-search input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.boder-radius-on .sidebar-search .input-group-append .input-group-text {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .form-control-plaintext + .form-control,
.input-group > .form-control-plaintext + .custom-select,
.input-group > .form-control-plaintext + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -1px;
}
.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
  z-index: 3;
}
.input-group > .custom-file .custom-file-input:focus {
  z-index: 4;
}
.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .custom-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > .custom-file:not(:first-child) .custom-file-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-prepend,
.input-group-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2;
}
.input-group-prepend .btn:focus,
.input-group-append .btn:focus {
  z-index: 3;
}
.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.input-group-text input[type='radio'],
.input-group-text input[type='checkbox'] {
  margin-top: 0;
}

.input-group-lg > .form-control:not(textarea),
.input-group-lg > .custom-select {
  height: calc(1.5em + 1rem + 2px);
}

.input-group-lg > .form-control,
.input-group-lg > .custom-select,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.input-group-sm > .form-control:not(textarea),
.input-group-sm > .custom-select {
  height: calc(1.5em + 0.5rem + 2px);
}

.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.input-group-lg > .custom-select,
.input-group-sm > .custom-select {
  padding-right: 1.75rem;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group
  > .input-group-append:last-child
  > .btn:not(:last-child):not(.dropdown-toggle),
.input-group
  > .input-group-append:last-child
  > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group
  > .input-group-prepend:first-child
  > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

select.form-control[size],
select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: auto;
}

.search-results {
  display: block;
  background-color: #f9f9f9;
  border-radius: 4px;
}
.search-category {
  margin-right: 10px !important;
}

.sidebar-arrow {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 40%;
}

.hidden-item {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 90%;
  transition: visibility 0.001s, opacity 0.001s linear, right 0.001s linear;
}

.boder-radius-on .sidebar-menu ul li i {
  border-radius: 4px;
}

.titleHome {
  font-family: sarchia;
}
#sidebar {
  background-color: #eee;
}
.header {
  background-color: #303841;
}
.content {
  box-sizing: border-box;
  background-color: #fafafa;
  height: 90vh;
  overflow: hidden;
}
.main-content {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.main-content p {
  font-size: 24px;
  padding-top: 10px;
  text-align: justify;
  text-justify: inter-word;
}
.titleContent {
  margin-bottom: 50px;
}
.main-content table,
tr,
td,
th {
  border: 2px solid #000;
}

.main-content td,
th {
  padding: 5px 10px;
}

.main-content th {
  font-size: 24px;
  background-color: #ececec;
}
.postTitle {
  text-align: right;
  font-size: 16px;
}
