<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{page.title}} </title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/sidebar-themes.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  </head>

  <body>

    <div class="page-wrapper toggled light-theme">
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-item sidebar-search">
            <div class="searched-result"> 
              <div class="input-group">
                <input
                  id="search"
                  type="text"
                  class="form-control search-menu"
                  placeholder="گەڕان..."
                  autocomplete="off"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <ul class="search"></ul>
            </div>
          </div>
          <div class="sidebar-item sidebar-arrow">
            <i class="fa fa-angle-left fa-2x"></i>
          </div>
          <div class="sidebar-item sidebar-menu">
            <ul id="menu">
              {% for category in site.categories %}
              <li class="sidebar-dropdown">
                <a id="menu" href="#">
                  <span class="menu-text">{{ category | first }}</span>
                </a>
                <div class="sidebar-submenu">
                  <ul id="submenu">
                    {% for post in category[1] %}
                    <li>
                      <a href="{{ site.baseurl | append: post.url}}"
                        >{{post.title}}</a
                      >
                    </li>

                    {% endfor %}
                  </ul>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
      <main class="page-content">
        <div id="overlay" class="overlay"></div>
        <div class="container-fluid">
          <div class="row d-flex align-items-center p-3 border-bottom header  ">
            <div class="col-md-8">
              <nav aria-label="breadcrumb" class="align-items-center ">
                <a href="index.html" class="breadcrumb-back" title="Back"></a>
                <h1 class="titleHome text-light">
                  <a class="text-light" style="text-decoration: none" href="index.html"
                    >{{page.title}}</a
                  >
                </h1>
              </nav>
            </div>
          </div>
          <div class="row p-lg-4 content">
            <article class="main-content col-md-9 pr-lg-5"></article>
          </div>
        </div>
      </main>
    </div>
    <script src="js/popper.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        const mainItems = $('#menu').children();

        const searchItems = [];
        for (let j = 0; j < mainItems.length; j++) {
          const category = {
            categoryName: mainItems[j]
              .getElementsByTagName('a')[0]
              .getElementsByTagName('span')[0]
              .innerText.trim(),
            categoryItems: [],
          };

          const items = $(mainItems[j]).find('div > ul').children();
          for (let i = 0; i < items.length; i++) {
            const itemObj = {
              name: items[i].innerText.trim(),
              href: items[i].children[0].href,
            };
            category.categoryItems.push(itemObj);
          }
          searchItems.push(category);
        }

        $('#search').on('input', function (e) {
          $('.search-results').empty();
          const foundSearch = [];
          const value = $(this).val();
          let groupedSearch = {};
          if (value.length > 0) {
            searchItems.map((category) => {
              category.categoryItems.map((item, index) => {
                if (
                  String(item.name).includes(value) ||
                  String(category.categoryName).includes(value)
                ) {
                  if (groupedSearch[category.categoryName]) {
                    groupedSearch[category.categoryName].push(item);
                  } else {
                    groupedSearch = {
                      ...groupedSearch,
                      [category.categoryName]: [item],
                    };
                  }
                }
              });
            });
          }

          Object.keys(groupedSearch).map((category) => {
            $('.search-results').append(
              `<ul class="search-category" id="${category}>${category}</ul>`,
            );
            groupedSearch[category].map((item) => {
              $(`#${category}`).append(
                `<li class="search-item"><a href="${item.href}">${item.name}</a></li>`,
              );
            });
          });
        });
      });
    </script>
  </body>
</html>
