<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{page.title}}</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href='{{"css/main.css" | relative_url}}' />
    <link rel="stylesheet" href='{{"css/styles.css" | relative_url}}' />
    <link rel="stylesheet" href='{{"css/sidebar-themes.css" | relative_url}}' />
  </head>
  <body>
    <header>
      <a
        class="mainHeader"
        style="text-decoration: none"
        href="/regulations_cms/"
        >{{page.title}}</a
      >
      <div class="image">
        <img src="{{site.baseurl}}/images/sue.png" alt="" />
      </div>
    </header>

    <div class="full-content">
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="searched-result">
            <div class="input-group">
              <input
                id="search"
                type="text"
                class="form-control search-menu"
                placeholder="گەڕان..."
                autocomplete="off"
              />
              <div class="input-group-append">
                <svg
                  class="svg-icon search-icon"
                  aria-labelledby="title desc"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 19.9 19.7"
                >
                  <title id="title">Search Icon</title>
                  <desc id="desc">A magnifying glass icon.</desc>
                  <g class="search-path" fill="none" stroke="#848F91">
                    <path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4" />
                    <circle cx="8" cy="8" r="7" />
                  </g>
                </svg>
              </div>
            </div>
            <ul class="search-results"></ul>
          </div>

          <div class="sidebar-item sidebar-menu">
            <ul id="menu" class="menu-searchs">
              {% for category in site.categories %}
              <li class="sidebar-dropdown">
                <a id="menu" href="#">
                  <span style="font-weight: bolder" class="menu-text"
                    >{{ category | first }}</span
                  >
                </a>
                <div class="sidebar-submenu">
                  <ul id="submenu">
                    {% for post in category[1] %}
                    <li>
                      <a
                        class="postTitle"
                        href="{{ site.baseurl | append: post.url  }}"
                        >{{post.title}}</a
                      >
                    </li>

                    {% endfor %}
                  </ul>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>

      <main class="page-content">
        <div id="overlay" class="overlay"></div>
        <div class="container-fluid">
          <div class="row d-flex align-items-center p-3 border-bottom header">
            <div class="col-md-8">
              <nav aria-label="breadcrumb" class="align-items-center">
                <a href="index.html" class="breadcrumb-back" title="Back"></a>
                <h1 class="titleHome">
                  <a
                    class="text-light"
                    style="text-decoration: none"
                    href="{{ site.baseurl }}/index.html"
                    >{{site.title}}</a
                  >
                </h1>
              </nav>
            </div>
          </div>
          <div class="row content">
            <section dir="rtl" align="right" class="main-content col-md-11">
              <h1 class="titleContent">{{page.title}}</h1>
              {{content}}
            </section>
          </div>
        </div>
      </main>
    </div>

    <script src='{{"js/popper.min.js" | relative_url}}'></script>
    <script src='{{"js/main.js" | relative_url}}'></script>
    <script type="text/javascript">
      $(document).ready(function () {
        const categoryTitle = '{{page.categories}}';
        const pageTitle = '{{page.title}}';

        const mainItems = $('#menu').children();
        let selectedItem;

        const searchItems = [];
        for (let j = 0; j < mainItems.length; j++) {
          const category = {
            categoryName: mainItems[j]
              .getElementsByTagName('a')[0]
              .getElementsByTagName('span')[0]
              .innerText.trim(),
            categoryItems: [],
          };

          const items = $(mainItems[j]).find('div > ul').children();
          for (let i = 0; i < items.length; i++) {
            const itemObj = {
              name: items[i].innerText.trim(),
              href: items[i].children[0].href,
            };
            category.categoryItems.push(itemObj);
            if (
              mainItems[j]
                .getElementsByTagName('a')[0]
                .getElementsByTagName('span')[0]
                .innerText.trim() == categoryTitle.trim() &&
              items[i].innerText.trim() == pageTitle.trim()
            ) {
              selectedItem = items[i];
            }
          }
          searchItems.push(category);
        }
        $(selectedItem).first().addClass('active');
        $(selectedItem).first().prop('disabled', true);
        const menu = $(selectedItem).parent().parent();
        menu.slideDown(200);
        menu.parent().addClass('active');

        $('#search').on('input', function (e) {
          $('.search-results').empty();
          const foundSearch = [];
          const value = $(this).val();
          let groupedSearch = {};
          if (value.length > 0) {
            $('#menu').addClass('hidden');
            if ($('#menu').children().hasClass('active')) {
              $('#menu').children().find('.sidebar-submenu').slideUp(200);
              $('#menu').children().removeClass('active');
            }
            searchItems.map((category) => {
              category.categoryItems.map((item, index) => {
                if (
                  String(item.name).includes(value) ||
                  String(category.categoryName).includes(value)
                ) {
                  if (groupedSearch[category.categoryName]) {
                    groupedSearch[category.categoryName].push(item);
                  } else {
                    groupedSearch = {
                      ...groupedSearch,
                      [category.categoryName]: [item],
                    };
                  }
                }
              });
            });
          } else {
            $('#menu').removeClass('hidden');
            $(selectedItem).first().addClass('active');
            $(selectedItem).first().prop('disabled', true);
            const menu = $(selectedItem).parent().parent();
            menu.slideDown(200);
            menu.parent().addClass('active');
          }
          Object.keys(groupedSearch).map((category, index) => {
            $('.search-results').append(
              `<ul class="search-category" id="${index}"><p class="search-category-text">${category}</p></ul>`,
            );
            groupedSearch[category].map((item) => {
              $(`#${index}`).append(
                `<li class="search-item"><a href="${item.href}">${item.name}</a></li>`,
              );
            });
          });
        });
      });
    </script>
  </body>
</html>
